
.Agenda{
    margin: 0 auto;
    /*max-width: 540px; Original 650px*/
    text-align: center;
    background-color: rgba(255, 255, 255, 0.93);
    color: #343434;
    border-radius: 6px;
    position:relative;
    z-index:2;
  }
  .Agenda .card{
    -webkit-box-shadow: 4px 3px 16px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 3px 16px -6px rgba(0,0,0,0.75);
box-shadow: 4px 3px 16px -6px rgba(0,0,0,0.75);
  }
  .estadosSalud img{
    margin: 10px auto;
    max-width: 430px;
    height: auto;
  }
  .errorDate{
    display: none;
  }
  .errorDate.fechaInvalida{
    display: inline-block;
  }
  .invalida, .invalida .textInput{
    color: red;
  }
  .titleForm{
    color: #5f5f5f;
    font-weight: 700;
    font-size: 1.2rem;
  }
  .textInput {
    font-size: inherit;
    line-height: 1.5;
    color: #262626;
    padding: 2px 12px;
    border-bottom: 1px solid #387ece;
    margin: 0px;
  }
  .active .textInput{
    border-bottom:1px solid red;
    color:red;
    font-weight:bold;
  }
  .active .textInputBig{
    color:red;
  }
  .radioGroup .active .col-sm-12 {
    background-color: #ffa7a7;
   }
  .btnForm{
    margin:10px auto;
    background-color:#159e4a !important;
  }
  .fondo{
    background: url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    position:relative;
  }
  .fondo:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    top: 0px;
  }
  .fondo>header{
    font-family: 'Amiri', serif;
    text-align: center;
    font-size: 30pt;
    color: #fff;
    position:relative;
    z-index:2;
  }
  .Agenda>form>fieldset{
    font-family: 'Amiri', serif;
  }
  .Agenda>footer>a{
        color: darkgreen;
        text-decoration: none;
  }
  fieldset.form-group.radioGroup, fieldset.form-group.radioGroup2 {
    padding-bottom: 1rem;
  }
  .radioGroup .col-sm-12{
    background-color: #e5e5e54d;
    color: #4b4b4b;
  }
  .fechaHora input{
    margin-top:12px;
  }
  /* The radioContainer */
  .radioContainer {
  /*display: block; */
  position: relative;
  padding-left: 26px;
  margin-bottom: 0;
  margin-right: 43px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

  /* Hide the browser's default radio button */
  .radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
  position: absolute;
  top: 3px;
  left: -3px;
  height: 22px;
  width: 22px;
  background-color: #aeaeae;
  border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .radioContainer:hover input ~ .checkmark {
  background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .radioContainer input:checked ~ .checkmark {background-color: #387ece;}

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .radioContainer input:checked ~ .checkmark:after {
  display: block;
  }

  /* Style the indicator (dot/circle) */
  .radioContainer .checkmark:after {
   top: 7px;
   left: 7px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
  }
  .alertBox{
    margin: 10px auto;
    display: none;
  }
  .alertBox.activeBox{
    display: block;
  }
  .site-footer{
    background-color: rgba(255, 255, 255, 1);
    position: absolute;/*Original: relative*/
    width: 100%;
    /*z-index: 2*/;
    padding: 10px 14px 20px 14px;
    margin-top: 36px;
  }
  .footer-nav-item{
    text-align: center;
  }
  .footerdata{
    border-top: 1px solid #bababa;
    margin-top: 10px;
    padding-top: 10px;
    overflow: hidden;
  }
  .fuente{
    float: left;
  }
  .matelabLogo{
    float: right;
  }
  .introImg{
    width: 19%;
    display: inline-block;
    vertical-align: text-bottom;
  }
  .introImg img{
    max-width: 100%;
    height: auto;
  }
  .introText{
    width: 80%;
    text-align: left;
    font-size: 1.1rem;
    display: inline-block;
    vertical-align: top;
}
  @media (max-width: 660px) {
    .estadosSalud img{
      max-width: 290px;
      height: auto;
    }
    .introImg {
      width: 60%;
  }
  .introText{
    width: 100%;
  }

  }
